*{
  margin: 0;
  padding: 0;
  outline: 0;
}

a{
  text-decoration: none;
}

ol, ul{
  list-style-type: none;
}

:root {
  --primary-font : 'Nunito', sans-serif;
  --secondery-font : 'Open Sans', sans-serif;
  --last-font : 'Poppins', sans-serif;
  --primary-font-color: #086EA2;
  --white-color: #fff;
  --text-font: #262626;
  --normaltext-color: #11175D;
  --error-color: #ea6c00;
  --btn-color: #183D3D;
  --rootlayout-color: #F4F5FF;
  --border-color: #11175D;
  --bg-color: #f9f9f9;
}